.footer {
    background-color: $moderate-cyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 0;
}

.footer__logo {
    padding-bottom: 2.8125rem;
    width: 169px;
    margin: 0 auto;
}

.footer__navigation {
    margin-bottom: 1.25rem;
}

.footer__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    margin-bottom: 5.75rem;
}

.footer__list {}

.footer__list-item {
    color: $Dark-moderate-cyan;
    transition: color 0.3s ease-in;
}

.footer__list-item:hover {
    color: hsl(167, 40%, 24%);
}

.footer__social-icons {
    display: flex;
    gap: 1.75rem;
    justify-content: center;
    margin-bottom: 5rem;
}

.footer__social-icon {
    background-color: transparent;
    padding: 0.25rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in;
}

.footer__social-icon:hover {
    background-color: hsl(168, 34%, 61%);

}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    color: $Dark-moderate-cyan;

    a {
        color: $white;
    }
}

@media (min-width: 767.98px) {

    .footer__menu {
        gap: 4.75rem;
    }

    .footer__social-icons {
        gap: 3rem;
    }
}