.footer {
    background-color: $moderate-cyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 0;
}

.footer__logo {
    padding-bottom: 2.8125rem;
    width: 10.5625rem;
    margin: 0 auto;
}

.footer__navigation {
    margin-bottom: 1.25rem;
}

.footer__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    margin-bottom: 5.75rem;
}

.footer__list-item {
    color: $Dark-moderate-cyan;
    transition: color 0.3s ease-in;
    cursor: pointer;
}

.footer__list-item:hover {
    color: $white;
}

.footer__social-icons {
    display: flex;
    gap: 1.75rem;
    justify-content: center;
    margin-bottom: 5rem;
    cursor: pointer;
}

.footer__social-icon {
    background-color: transparent;
    padding: 0.25rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in;
}

.footer__social-icon:hover {
    background-color: $white;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    color: $Dark-moderate-cyan;

    a {
        color: $white;
    }
}