.header {
    position: relative;
}

.header__logo {
    position: absolute;
    left: 2.25rem;
    top: 2rem;
    width: 7.75rem;
    height: 1.5625rem;
}

.menu__burger-icon {
    position: absolute;
    right: 2.25rem;
    top: 2rem;
}

// .header__menu {
//     background: $white;
//     padding-top: 2.875rem;
//     padding-bottom: 2.4375rem;
//     height: 305px;
// }

// .menu__list {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }


// .menu__item:nth-child(3) {
//     margin-bottom: 54px;
// }

// .menu__item:not(:last-child) {
//     margin-bottom: 2.625rem;
// }

// .menu__button {
//     padding: 1.375rem 2rem 1.3125rem;
//     background-color: $yellow;
//     border-radius: 30px;
//     text-transform: uppercase;
//     color: $Very-dark-desaturated-blue;
// }

@media (min-width: 991.98px) {

    .menu__burger-icon {
        display: none;
    }

    .header__logo img {
        width: 10.5rem;
        height: 2.125rem;
    }

    .header__logo {
        position: absolute;
        left: 2.25rem;
        top: 2rem;
        width: 7.75rem;
        height: 1.5625rem;
    }
}