.header {
    position: relative;
}

// .menu__burger {
//     position: absolute;
//     right: 1.25rem;
//     top: 3.25rem;
// }

// .burger__line {
//     display: block;
//     width: 1.5rem;
//     height: 0.125rem;
//     background-color: $white;
//     margin-bottom: 0.375rem;
// }

.header__logo {
    position: absolute;
    left: 2.25rem;
    top: 2rem;
    width: 7.75rem;
    height: 1.5625rem;
}

// .header__menu {
//     background: $white;
//     padding-top: 2.875rem;
//     padding-bottom: 2.4375rem;
//     height: 305px;
// }

.menu__burger-icon {
    position: absolute;
    right: 2.25rem;
    top: 2rem;
}

// .menu__list {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }


// .menu__item:nth-child(3) {
//     margin-bottom: 54px;
// }

// .menu__item:not(:last-child) {
//     margin-bottom: 2.625rem;
// }

// .menu__button {
//     padding: 1.375rem 2rem 1.3125rem;
//     background-color: $yellow;
//     border-radius: 30px;
//     text-transform: uppercase;
//     color: $Very-dark-desaturated-blue;
// }

// .menu__link {}

// @media (min-width: 991.98px) {
//     .header {
//         background: hsla(200, 100%, 62%, 1);
//         box-shadow: 0px 4px 6px 0px rgba(132, 132, 132, 0.40);
//     }
// }