.header {
    position: relative;
    background-image: url(/images/desktop/image-header.jpg);
    height: 5.625rem;
}

.header__logo {
    position: absolute;
    left: 1.4rem;
    top: 2rem;
    width: 7.75rem;
    height: 1.5625rem;
}

.menu__burger-icon {
    position: absolute;
    right: 1.5rem;
    top: 2rem;
}

.header__menu-desktop {
    display: none;
}

/* ------------------------ */
.header__menu {
    background: $white;
    padding-top: 2.875rem;
    padding-bottom: 2.4375rem;
    height: 19.3125rem;
    width: 20.625rem;
    right: 1.5625rem;
    top: 6.5625rem;
    position: absolute;
}

.menu__part {
    position: absolute;
    height: 0;
    border-left: 2.0625rem solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 2.125rem solid $white;
    display: inline-block;
    top: -1.25rem;
    right: 0;
}

.menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link,
.menu__link-desktop {
    transition: color 0.3s ease;
    cursor: pointer;
}

.menu__link:hover,
.menu__link-desktop:hover {
    color: $yellow;
}


.menu__item:nth-child(3) {
    margin-bottom: 3.375rem;
}

.menu__item:not(:last-child) {
    margin-bottom: 2.625rem;
}

.menu__button {
    padding: 1.375rem 2rem 1.3125rem;
    background-color: $yellow;
    border-radius: 1.875rem;
    text-transform: uppercase;
    color: $Very-dark-desaturated-blue;
    transition: all 0.3s ease;
    cursor: pointer;
}

.menu__button:hover {
    color: $Dark-blue;
    background: rgba(255, 231, 17, 0.25);
}

/* ------------------------ */

.error {
    display: none;
}

/* ------------------------ */

@media (min-width: 479.98px) {
    .header__menu {
        width: 80%;
    }
}

@media (min-width: 767.98px) {
    .header__menu {
        width: 65%;
    }
}

@media (min-width: 991.98px) {
    .menu__burger-icon {
        display: none;
    }

    .header__logo img {
        width: 10.5rem;
        height: 2.125rem;
    }

    .header__logo {
        position: absolute;
        left: 2.25rem;
        top: 2rem;
        width: 7.75rem;
        height: 1.5625rem;
    }

    .menu__part {
        display: none;
    }

    .header__menu-desktop {
        display: inline-block;
        background: none;
        padding-top: 0;
        padding-bottom: 0;
        height: 3.5625rem;
        width: 29.4375rem;
        right: 2.5rem;
        top: 2.8125rem;
        position: absolute;
    }

    .menu__list-desktop {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }


    .menu__link-desktop {
        color: $white;
    }

    .menu__button {
        color: $Very-dark-desaturated-blue;
        background-color: $white;
    }

    .menu__button:hover {
        color: $white;
        background-color: rgba(255, 255, 255, 0.25);
    }
}