.testimonials {
    padding-top: 3.9375rem;
    padding-bottom: 5.8125rem;
}

h4 {
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.27rem;
    text-transform: uppercase;
    color: $grayish-blue;
    margin-bottom: 4.1875rem;
}

.testimonials__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__content:not(:last-child) {
    margin-bottom: 4.25rem;
}

.testimonials__profile_img {
    width: 74px;
    border-radius: 50%;
    margin-bottom: 2.5rem;
}

.testimonials__text {
    color: $Very-dark-grayish-blue;
    margin-bottom: 2.75rem;
    text-align: center;
    line-height: 1.77;
}

.testimonials__name {
    font-size: 1.125rem;
    font-weight: 900;
    color: $Very-dark-desaturated-blue;
    font-family: 'Fraunces', serif;
    margin-bottom: 1rem;
}

.testimonials__occupation {
    font-size: 0.875rem;
    font-weight: 600;
    color: $grayish-blue;
    font-family: 'Barlow', sans-serif;
}

@media (min-width: 991.98px) {
    .testimonials__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
}