@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
/* ------------------------ */
/* reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 20rem;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

span {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  line-height: inherit;
}

/* Primary colors */
/* Neutral colors */
.header {
  position: relative;
  background-image: url(/images/desktop/image-header.jpg);
  height: 5.625rem;
}

.header__logo {
  position: absolute;
  left: 1.4rem;
  top: 2rem;
  width: 7.75rem;
  height: 1.5625rem;
}

.menu__burger-icon {
  position: absolute;
  right: 1.5rem;
  top: 2rem;
}

.header__menu-desktop {
  display: none;
}

/* ------------------------ */
.header__menu {
  background: hsl(0, 0%, 100%);
  padding-top: 2.875rem;
  padding-bottom: 2.4375rem;
  height: 19.3125rem;
  width: 20.625rem;
  right: 1.5625rem;
  top: 6.5625rem;
  position: absolute;
}

.menu__part {
  position: absolute;
  height: 0;
  border-left: 2.0625rem solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 2.125rem solid hsl(0, 0%, 100%);
  display: inline-block;
  top: -1.25rem;
  right: 0;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link,
.menu__link-desktop {
  transition: color 0.3s ease;
  cursor: pointer;
}

.menu__link:hover,
.menu__link-desktop:hover {
  color: hsl(51, 100%, 49%);
}

.menu__item:nth-child(3) {
  margin-bottom: 3.375rem;
}

.menu__item:not(:last-child) {
  margin-bottom: 2.625rem;
}

.menu__button {
  padding: 1.375rem 2rem 1.3125rem;
  background-color: hsl(51, 100%, 49%);
  border-radius: 1.875rem;
  text-transform: uppercase;
  color: hsl(212, 27%, 19%);
  transition: all 0.3s ease;
  cursor: pointer;
}

.menu__button:hover {
  color: hsl(198, 62%, 26%);
  background: rgba(255, 231, 17, 0.25);
}

/* ------------------------ */
.error {
  display: none;
}

/* ------------------------ */
@media (min-width: 479.98px) {
  .header__menu {
    width: 80%;
  }
}
@media (min-width: 767.98px) {
  .header__menu {
    width: 65%;
  }
}
@media (min-width: 991.98px) {
  .menu__burger-icon {
    display: none;
  }
  .header__logo img {
    width: 10.5rem;
    height: 2.125rem;
  }
  .header__logo {
    position: absolute;
    left: 2.25rem;
    top: 2rem;
    width: 7.75rem;
    height: 1.5625rem;
  }
  .menu__part {
    display: none;
  }
  .header__menu-desktop {
    display: inline-block;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
    height: 3.5625rem;
    width: 29.4375rem;
    right: 2.5rem;
    top: 2.8125rem;
    position: absolute;
  }
  .menu__list-desktop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .menu__link-desktop {
    color: hsl(0, 0%, 100%);
  }
  .menu__button {
    color: hsl(212, 27%, 19%);
    background-color: hsl(0, 0%, 100%);
  }
  .menu__button:hover {
    color: hsl(0, 0%, 100%);
    background-color: rgba(255, 255, 255, 0.25);
  }
}
.footer {
  background-color: hsl(167, 44%, 70%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0 0;
}

.footer__logo {
  padding-bottom: 2.8125rem;
  width: 10.5625rem;
  margin: 0 auto;
}

.footer__navigation {
  margin-bottom: 1.25rem;
}

.footer__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  margin-bottom: 5.75rem;
}

.footer__list-item {
  color: hsl(168, 34%, 41%);
  transition: color 0.3s ease-in;
  cursor: pointer;
}

.footer__list-item:hover {
  color: hsl(0, 0%, 100%);
}

.footer__social-icons {
  display: flex;
  gap: 1.75rem;
  justify-content: center;
  margin-bottom: 5rem;
  cursor: pointer;
}

.footer__social-icon {
  background-color: transparent;
  padding: 0.25rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in;
}

.footer__social-icon:hover {
  background-color: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  color: hsl(168, 34%, 41%);
}
.attribution a {
  color: hsl(0, 0%, 100%);
}

.testimonials {
  padding-top: 3.9375rem;
  padding-bottom: 5.8125rem;
}

h4 {
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.27rem;
  text-transform: uppercase;
  color: hsl(210, 4%, 67%);
  margin-bottom: 4.1875rem;
}

.testimonials__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials__content:not(:last-child) {
  margin-bottom: 4.25rem;
}

.testimonials__profile_img {
  width: 74px;
  border-radius: 50%;
  margin-bottom: 2.5rem;
}

.testimonials__text {
  color: hsl(213, 9%, 39%);
  margin-bottom: 2.75rem;
  text-align: center;
  line-height: 1.77;
}

.testimonials__name {
  font-size: 1.125rem;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  margin-bottom: 1rem;
}

.testimonials__occupation {
  font-size: 0.875rem;
  font-weight: 600;
  color: hsl(210, 4%, 67%);
  font-family: "Barlow", sans-serif;
}

@media (min-width: 991.98px) {
  .testimonials {
    padding: 10.25rem 0.9375rem 10.25rem 0.9375rem;
  }
  .testimonials__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
  .testimonials__text {
    width: 18.75rem;
  }
}
@media (min-width: 1280px) {
  .testimonials__container {
    grid-template-columns: repeat(3, 1fr);
  }
  h4 {
    margin-bottom: 5.25rem;
  }
  .testimonials__profile_img {
    margin-bottom: 4.1875rem;
  }
  .testimonials__text {
    margin-bottom: 4.875rem;
    width: 21.375rem;
  }
  .testimonials__content:not(:last-child) {
    margin-bottom: 0;
  }
}
/* ------------------------ */
body {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: hsl(0, 0%, 100%);
  color: hsl(232, 10%, 55%);
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 19.6875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

/* ------------------------ */
.main {
  background: url(../images/mobile/image-header.jpg) no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 33.8125rem;
  padding-top: 9.625rem;
}

.main-page__title {
  font-family: "Fraunces", serif;
  color: hsl(0, 0%, 100%);
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.4462rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

.main__arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------------ */
.services__img {
  background: url(../images/mobile/image-transform.jpg) center/cover no-repeat;
  width: 100%;
  height: 19.5rem;
}

.services__img-glass {
  background: url(../images/mobile/image-stand-out.jpg) center/cover no-repeat;
  width: 100%;
  height: 19.5rem;
}

.services__content,
.projects__content {
  padding: 4.5625rem 1.875rem 0;
}

.services__content,
.projects__content-bg1,
.projects__content-bg2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.08rem;
  color: hsl(212, 27%, 19%);
  margin-bottom: 2.5rem;
}

.services__content-text,
.projects__content-text {
  text-align: center;
  line-height: 1.7;
  margin-bottom: 2.625rem;
  width: 20.625rem;
}

.services__btn_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.services__btn {
  font-family: "Fraunces", serif;
  font-weight: 700;
  line-height: 1;
  font-size: 1rem;
  color: hsl(212, 27%, 19%);
  text-transform: uppercase;
  margin-bottom: 3.9375rem;
}

.services__btn__yellow,
.services__btn__orange {
  display: block;
  width: 8.5rem;
  height: 0.625rem;
  border-radius: 0.25rem;
  opacity: 0.2;
  position: absolute;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.services__btn__yellow {
  background-color: hsl(51, 100%, 49%);
  top: 0.8125rem;
}

.services__btn__orange {
  background-color: hsl(7, 99%, 70%);
  top: 0.75rem;
}

.services__btn__yellow:hover,
.services__btn__orange:hover {
  opacity: 0.6;
}

/* ------------------------ */
.projects__title {
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.035rem;
  padding-top: 25.25rem;
  margin-bottom: 2rem;
}

.projects__content-bg1 {
  background: url(../images/mobile/image-graphic-design.jpg) center/cover no-repeat;
  width: 100%;
  height: 37.3125rem;
}

.projects__content-bg2 {
  background: url(../images/mobile/image-photography.jpg) center/cover no-repeat;
  width: 100%;
  height: 37.3125rem;
}

.projects__content-text.blue,
.projects__content-text.cyan {
  font-size: 1rem;
  margin-bottom: 0;
  padding: 0 0.9375rem 0;
}

.cyan {
  color: hsl(167, 40%, 24%);
}

.blue {
  color: hsl(198, 62%, 26%);
}

/* ------------------------ */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery__item {
  width: 100%;
  height: auto;
}

/* ------------------------ */
@media (min-width: 479.98px) {
  .main {
    height: 37.5rem;
    padding-top: 6.25rem;
  }
  .services__img,
  .services__img-glass {
    min-height: 28.875rem;
  }
  .services__content-bg1,
  .services__content-bg2 {
    height: 49.8125rem;
  }
}
@media (min-width: 700px) {
  [class*=__container] {
    max-width: 32.1875rem;
  }
  .services__content-text {
    width: 32.1875rem;
  }
}
@media (min-width: 767.98px) {
  .main {
    background: url(../images/desktop/image-header.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
@media (min-width: 991.98px) {
  [class*=__container] {
    max-width: 60rem;
  }
  .main {
    padding-top: 12.9375rem;
    height: 49.0625rem;
  }
  .main-page__title {
    font-size: 3.375rem;
    line-height: 1;
    letter-spacing: 0.675rem;
    margin-bottom: 6.4375rem;
  }
  /* ------------------------ */
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  /* ------------------------ */
  .services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .services__brand,
  .services__audience {
    display: flex;
  }
  .services__brand {
    flex-direction: row-reverse;
  }
  .services__img {
    background: url(../images/desktop/image-transform.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    width: 50%;
  }
  .services__img-glass {
    background: url(../images/desktop/image-stand-out.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    width: 50%;
  }
  .services__content {
    width: 50%;
    align-items: self-start;
    padding: 4.3125rem 1.9375rem 3.5625rem;
    height: 37.5rem;
  }
  .services__img,
  .services__img-glass {
    height: 37.5rem;
  }
  .services__content-text,
  .projects__content-text {
    width: 28.125rem;
    text-align: left;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 3rem;
    text-align: left;
  }
  .services__content-text {
    margin-bottom: 3.125rem;
  }
  .services__btn {
    margin-bottom: 0;
  }
  /* ------------------------ */
  .projects {
    display: flex;
  }
  .projects__title {
    margin-bottom: 2rem;
  }
  .projects__content-text {
    text-align: center;
    width: 21.375rem;
  }
  .projects__content-text.blue,
  .projects__content-text.cyan {
    padding: 0;
    margin-bottom: 3.875rem;
  }
  .projects__content-bg1 {
    background: url(../images/desktop/image-graphic-design.jpg) center/cover no-repeat;
    height: 37.5rem;
  }
  .projects__content-bg2 {
    background: url(../images/desktop/image-photography.jpg) center/cover no-repeat;
    height: 37.5rem;
  }
}
@media (min-width: 1280px) {
  [class*=__container] {
    max-width: 67.5rem;
  }
  .services__content {
    padding: 10.5625rem 10.0625rem 9.8125rem;
  }
}/*# sourceMappingURL=style.css.map */