@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
/* ------------------------ */
/* reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 20rem;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

span {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  line-height: inherit;
}

/* Primary colors */
/* Neutral colors */
.header {
  position: relative;
}

.header__logo {
  position: absolute;
  left: 2.25rem;
  top: 2rem;
  width: 7.75rem;
  height: 1.5625rem;
}

.menu__burger-icon {
  position: absolute;
  right: 2.25rem;
  top: 2rem;
}

.footer {
  background-color: hsl(167, 44%, 70%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0 0;
}

.footer__logo {
  padding-bottom: 2.8125rem;
  width: 169px;
  margin: 0 auto;
}

.footer__navigation {
  margin-bottom: 1.25rem;
}

.footer__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  margin-bottom: 5.75rem;
}

.footer__list-item {
  color: hsl(168, 34%, 41%);
  transition: color 0.3s ease-in;
}

.footer__list-item:hover {
  color: hsl(167, 40%, 24%);
}

.footer__social-icons {
  display: flex;
  gap: 1.75rem;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__social-icon {
  background-color: transparent;
  padding: 0.25rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in;
}

.footer__social-icon:hover {
  background-color: hsl(168, 34%, 61%);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  color: hsl(168, 34%, 41%);
}
.attribution a {
  color: hsl(0, 0%, 100%);
}

@media (min-width: 767.98px) {
  .footer__menu {
    gap: 4.75rem;
  }
  .footer__social-icons {
    gap: 3rem;
  }
}
.testimonials {
  padding-top: 3.9375rem;
  padding-bottom: 5.8125rem;
}

h4 {
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.27rem;
  text-transform: uppercase;
  color: hsl(210, 4%, 67%);
  margin-bottom: 4.1875rem;
}

.testimonials__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials__content:not(:last-child) {
  margin-bottom: 4.25rem;
}

.testimonials__profile_img {
  width: 74px;
  border-radius: 50%;
  margin-bottom: 2.5rem;
}

.testimonials__text {
  color: hsl(213, 9%, 39%);
  margin-bottom: 2.75rem;
  text-align: center;
  line-height: 1.77;
}

.testimonials__name {
  font-size: 1.125rem;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  margin-bottom: 1rem;
}

.testimonials__occupation {
  font-size: 0.875rem;
  font-weight: 600;
  color: hsl(210, 4%, 67%);
  font-family: "Barlow", sans-serif;
}

@media (min-width: 991.98px) {
  .testimonials__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}
/* ------------------------ */
body {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: hsl(0, 0%, 100%);
  color: hsl(232, 10%, 55%);
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 19.6875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

/* ------------------------ */
.main {
  background: url(../images/mobile/image-header.jpg) no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 541px;
  padding-top: 154px;
}

.main-page__title {
  font-family: "Fraunces", serif;
  color: hsl(0, 0%, 100%);
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.4462rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

.main__arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------------ */
.services__container {
  padding-left: 0;
  padding-right: 0;
}

.services__img {
  background: url(../images/mobile/image-transform.jpg) center/cover no-repeat;
  width: 100%;
  height: 19.5rem;
}

.services__img-glass {
  background: url(../images/mobile/image-stand-out.jpg) center/cover no-repeat;
  width: 100%;
  height: 19.5rem;
}

.services__content {
  padding: 4.5625rem 1.875rem 0;
}

.services__content,
.services__content-bg1,
.services__content-bg2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services__content-bg1 {
  background: url(../images/mobile/image-graphic-design.jpg) center/cover no-repeat;
  width: 100%;
  height: 37.3125rem;
}

.services__content-bg2 {
  background: url(../images/mobile/image-photography.jpg) center/cover no-repeat;
  width: 100%;
  height: 37.3125rem;
}

h2 {
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.08rem;
  color: hsl(212, 27%, 19%);
  margin-bottom: 2.5rem;
}

h3 {
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.035rem;
  padding-top: 25.1875rem;
  margin-bottom: 2rem;
}

.services__content-text {
  text-align: center;
  line-height: 1.7;
  margin-bottom: 2.625rem;
  width: 330px;
}

.services__btn_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.services__btn {
  font-family: "Fraunces", serif;
  font-weight: 700;
  line-height: 1;
  font-size: 1rem;
  color: hsl(212, 27%, 19%);
  text-transform: uppercase;
  margin-bottom: 3.9375rem;
}

.services__btn__yellow,
.services__btn__orange {
  display: block;
  width: 8.5rem;
  height: 0.625rem;
  border-radius: 0.25rem;
  opacity: 0.2;
  position: absolute;
  transition: opacity 0.3s ease;
}

.services__btn__yellow {
  background-color: hsl(51, 100%, 49%);
  top: 0.8125rem;
}

.services__btn__orange {
  background-color: hsl(7, 99%, 70%);
  top: 0.75rem;
}

.services__btn__yellow:hover,
.services__btn__orange:hover {
  opacity: 0.6;
}

.cyan {
  color: hsl(167, 40%, 24%);
}

.blue {
  color: hsl(198, 62%, 26%);
}

.services__content-text.blue,
.services__content-text.cyan {
  font-size: 1rem;
  margin-bottom: 0;
  padding: 0 0.9375rem 0;
}

/* ------------------------ */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery__item {
  width: 100%;
  height: auto;
}

/* ------------------------ */
@media (min-width: 479.98px) {
  .main {
    height: 37.5rem;
    padding-top: 6.25rem;
  }
  .services__img,
  .services__img-glass {
    min-height: 462px;
  }
  .services__content-bg1,
  .services__content-bg2 {
    height: 49.8125rem;
  }
}
@media (min-width: 700px) {
  [class*=__container] {
    max-width: 515px;
  }
  .services__content-text {
    width: 515px;
  }
}
@media (min-width: 767.98px) {
  .main {
    background: url(../images/desktop/image-header.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
@media (min-width: 991.98px) {
  [class*=__container] {
    max-width: 1080px;
  }
  .main {
    padding-top: 207px;
    height: 785px;
  }
  .main-page__title {
    font-size: 3.375rem;
    line-height: 1;
    letter-spacing: 0.675rem;
    margin-bottom: 6.4375rem;
  }
  /* ------------------------ */
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  /* ------------------------ */
}/*# sourceMappingURL=style.css.map */